@font-face {
  font-family: "Raleway";
  src: url(../fonts/raleway-v19-latin-700.ttf);
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --main-text-cl: #757575;
  --title-cl: #212121;
  --accent-cl: #2196f3;
  --alt-title-cl: #ffffff;

  --doc-bg: #ffffff;
  --dark-bg: #2f303a;
  --team-bg: #f5f4fa;
  --accent-bg: #2196f3;

  --main-font: "Roboto", sans-serif;
  --title-font: "Raleway", sans-serif;
}

body {
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  background-color: var(--doc-bg);
  color: var(--main-text-cl);
}

.link {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-cl);
}

.accent {
  color: var(--accent-cl);
}

.accent-phone {
  color: var(--main-text-cl);
}

.logo {
  font-family: var(--title-font);
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-cl);
}

.dark-bg {
  background-color: var(--dark-bg);
}
.team-bg {
  background-color: var(--team-bg);
}

.accent-bg {
  background-color: var(--accent-bg);
}

.button:hover,
.button:focus {
  color: var(--alt-title-cl);
}

.button {
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: var(--alt-title-cl);
}

.hide-h2 {
  display: none;
}
.list {
  list-style: none;
}

a {
  text-decoration: none;
}

.page-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--alt-title-cl);
}
.section-title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-cl);
}

.title {
  font-family: var(--main-font);
  letter-spacing: 0.03em;
  color: var(--title-cl);
}

.hang {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.team {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

. .address {
  font-style: inherit;
}
.title-lable {
  letter-spacing: 0.03em;
  color: var(--main-text-cl);
}

.lable-hang {
  font-size: 14px;
  line-height: 1.71;
}

.lable-team {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.vault-navi {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

/*портфолио*/
.nav-portfolio {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-cl);
}

.section-title-pf {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-cl);
}

.lable-portfolio {
  font-size: 16px;
  line-height: 1.87;
}
